@font-face{
    font-family:'digital-mono';
    src: url('font/digital-mono.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1f1f1f; */
    font-family: sans-serif;
    outline: none;
    color: #9fabb4;
}

.container{
    height: 100vh; /* fitting fully by height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 4pc;
}

.main{
    background-color: #9b9b9b;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 6px 6px 10px black, inset 1px 1px 1px 5px rgb(110, 110, 110);
    display: grid;
    grid-template-columns: repeat(4,85px);
}

.display{
    color: #838383;
    grid-column: span 4;
    height: 80px;
    width: 342px;
    border-radius: 10px;
    background-color: #1f1f1f;
    box-shadow: inset 8px 8px 8px black;
    text-align: end;
    font-size: 28px;
    font-family: monospace;
    /* font-family: digital-mono; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2%;
}

button{
    background-color: #1f1f1f;
    font-family: monospace;
    font-weight: 500;
    height: 70px;
    width: 70px;
    box-shadow: inset 5px 5px #4e4e4e;
    border: none;
    border-radius: 45%;
    margin: auto;
    margin-bottom: 12px;
    font-size: 1.2pc;
}

.info{
    text-decoration: none;
    color:rgb(80, 80, 80); 
    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    padding-left: 310px; 
    margin-bottom: -10px; 
    border: none;
}

button:hover{
    background-color: #383838;
    box-shadow: inset 3px 3px rgb(32, 32, 32);
}