*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f1f1f;
    font-family: sans-serif;
    outline: none;
    color: #9fabb4;
}

.container{
    height: 100vh; /* fitting fully by height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 4pc;
}

.main{
    background-color: #757575;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 5px black;;
    display: grid;
    grid-template-columns: repeat(4,85px);
}

input{
    color: rgb(71, 71, 71);
    grid-column: span 4;
    height: 70px;
    width: 342px;
    border-radius: 10px;
    background-color: #1f1f1f;
    box-shadow: inset 5px 5px black;
    text-align: end;
    font-size: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 2%;
}

button{
    font-family: monospace;
    font-weight: 500;
    height: 70px;
    width: 70px;
    box-shadow: inset 5px 5px #383838;
    border: none;
    border-radius: 30%;
    margin: 5px;
    font-size: 1.2pc;
}

button:hover{
    background-color: #383838;
}